# PyCharm folder
.idea
consts/__pycache__
functions/__pycache__
functions/steps/__pycache__
models/__pycache__
outputModels
batch-scripts/__pycache__
batch-scripts/compare-datasets/__pycache__
batch-scripts/compare-datasets/output
batch-scripts/compare-datasets/functions/__pycache__
batch-scripts/train-loso/__pycache__
batch-scripts/train-loso/functions/__pycache__
batch-scripts/train-standard/__pycache__
batch-scripts/train-standard/functions/__pycache__