# PyCharm folder
.idea
consts/__pycache__
functions/__pycache__
functions/steps/__pycache__
models/__pycache__
outputModels
batch-scripts/__pycache__
batch-scripts/output
batch-scripts/functions/__pycache__